{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block pageTitle %}
    <!-- On vérifie si on afficher les publications d'une certaine ville ou d'un certain utilisateur -->
    {% if user is defined %}
        {% if app.user.id == user.id %}
            Évènements qui vous intéressent
        {% else %}
             Évènements qui intéressent {{ user.firstName }}
        {% endif %}
    {% elseif ville is defined %}
        Évènements organisés à {{ ville.nom }}
    {% endif %}


{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}

    {% include 'flashMessages.html.twig' %}
    
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class=" events-block col-10 col-lg-9 justify-content-center">
            <!-- Lien pour créer un nouveau évènements -->
            <div class="row justify-content-center">
                <div class="col-10 mt-3 p-2 text-center">
                    <a class="new-event-button btn" href="{{ path('event-new') }}">Créer un évènement</a>
                </div>
                <div class="col-10">
                    <hr>
                </div>
            </div>

            {% if form is defined %}

            <!-- Formulaire pour chercher un évènement -->
                <div class="row justify-content-center">
                    <div class="search-form-block col-10 mt-3 p-2 text-center">
                        <div class="row justify-content-center">
                            {{ form_start(form) }}
                                <div class="col-12">
                                    {{ form_row(form.title) }}
                                </div>
                                <div class="col-12">
                                    {{ form_row(form.ville) }}
                                </div>
                                <div class="col-12" >
                                    <input type="submit" class="btn submit-button">
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="row justify-content-center pb-5">
                <!-- La liste des évènements -->
                {% for event in events %}
                    <div class="event-block col-10 mt-3 p-3 mb-3">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row justify-content-center justify-content-lg-start">
                                    <!-- Afficher l'image lié à l'évènement si il y en a -->
                                    {% if event.image %}
                                        <div class="col-11 col-md-4 mb-2">
                                            <img class="event-image" src="{{ asset('upload/events/' ~ event.image ) }}" alt="Image">
                                        </div>
                                    {% endif %}
                                    <div class="col-11 {% if event.image %}col-md-8{% endif %}">
                                        <div class="row">
                                            <!-- Titre de l'évènement -->
                                            <div class="col-10">
                                                <a href="{{ path('single-event', {'id': event.id}) }}"><h4>{{ event.title }}</h4></a>
                                            </div>
                                            <!-- Ville -->
                                            <div class="event-details col-10">
                                                {{ event.ville.nom }}   
                                            </div>
                                            <!-- La date de l'évènement -->
                                            <div class="col-10 date">le {{ event.eventDate|date("d/m/Y à H:i") }}</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Le bloc qui affiche le nom et la photo de l'auteur -->
                            <div class="col-12 col-lg-4">
                                <div class="row align-items-center mb-5 mt-5 mt-lg-0">
                                    <div class="col-9 col-md-10 col-lg-8 text-right pr-0">
                                        <div class="postedByName">
                                             
                                            <div>
                                                <a href="{{ path('single-user',{'id' : event.postedBy.id}) }}" class="m-0">{{ event.postedBy.firstName }} {{ event.postedBy.lastName }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-cadre ml-2">
                                        {% if event.postedBy.image %}
                                            <img class="postedByImage" src="{{ asset('upload/users/' ~ event.postedBy.image ) }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('upload/default.png') }}" alt="" class="postedByImage">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                       
                        </div>
                            <div class="row justify-content-center justify-content-lg-end align-items-end">
                                
                                <!-- Le nombre des personnes intéressées et le nombre des commentaires -->
                                <div class="col-12 col-lg-6 ">
                                    <div class="row justify-content-center justify-content-md-start">
                                        <div class=" col-11">
                                            <a class="commentsAndUsers" href="{{ path('event-users', {'id': event.id}) }}">{{ event.interestedUsers|length }} Personnes sont intéressées</a>
                                        </div>
                                        <div class=" col-11">
                                            <a class="commentsAndUsers" href="">{{ event.eventComments|length }} Commentaires</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-lg-6">
                                    <div class="row justify-content-end">
                                        <!-- Liens pour enregistrer ou commenter l'évènement -->
                                        <div class="col-11 col-md-6 col-lg-6 m-2 m-2 text-right">
                                            {% if event in app.user.savedEvents %}
                                                <a class="btn save-button" href="{{ path('event-remove', {'id': event.id}) }}">SUPPRIMER DE MA LISTE</a>
                                            {% else %}
                                                <a class="btn save-button" href="{{ path('event-save', {'id': event.id}) }}">ENREGISTRER</a>
                                            {% endif %}
                                        </div>
                                        <!-- Lien vers la page de l'évènement -->
                                        <div class="col-11 col-md-6 col-lg-6 m-2">
                                            <a class="btn info-button" href="{{ path('single-event', {'id': event.id}) }}">INFO</a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <hr>
                    </div>

                {% endfor %}
            </div>  
        </div>
        
    </div>
    




{% endblock %}