{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block pageTitle %}Évènements que j'ai créés{% endblock %}

{% block body %}

{% if events|length > 0 %}
    {% for event in events %}
    <div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
        <div class="profil-block col-10 col-lg-9 justify-content-center p-lg-3 pt-3">
            <div class="row justify-content-between align-items-center">
                
                {# Image de l'évènement #}
                <div class="col-md-3">
                    {% if event.image %}
                        <img src="{{ asset('upload/events/' ~ event.image) }}" class="w-100" alt="Photo liée à la publication">
                    {% else %}
                        <img src="{{ asset('upload/placeholder-image.png') }}" class="w-100" alt="Placeholder image">
                    {% endif %}
                </div>
                
                {# Titre et description #}
                <div class="col-md-5">
                    <a href="{{ path('single-event', {'id': event.id}) }}"><h2>{{ event.title }}</h2></a>
                    <p class="event-description p-0">{{ event.description }}</p>
                </div>
                
                <div class="col -6 col-md-2 date">
                    {# Date de l'évènement #}
                    <div>
                        {{ event.eventDate|date("d/m/Y  H:i") }} 
                    </div>
                    
                    <div class="mt-2">
                        {# Nombre des commentaires et lien vers la page de l'évènement #}
                        <a href="{{ path('single-event', {'id': event.id}) }}">
                            Voir les commentaires ({{ event.eventComments|length }})
                        </a>
                        <a href="{{ path('event-users', {'id': event.id}) }}"><p class="event-description mt-2">{{ event.interestedUsers|length }} personnes sont intéressées</p></a>
                    </div>
                </div>
                
                <div class="col-6 col-md-2 icons text-right">
                    <a href=""><i class="fas fa-edit m-3"></i></a>
                    <a href=""><i class="fas fa-trash-alt m-3"></i></a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
<div class="row justify-content-center justify-content-lg-end pb-5">
    <div class="events-block col-10 mt-3 p-3 mb-3">
        <d iv class="row justify-content-center">
            <div class="col-10 text-center">
                <p>Vou n'avez pas encore créé d'évènement</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 text-center">
               <hr> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 mt-3 p-2 text-center">
                <a class="new-event-button btn" href="{{ path('event-new') }}">Créer un évènement</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}