
<div class="col-12 mt-2">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-9">
                    <div class="row align-items-center mb-5">
                        <div class="col-lg-3">
                            <h5 class="m-0">Réponses</h5>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn new-reply-button ml-lg-2 mt-2 mt-lg-0" href="">Je réponds</a>
                        </div> 
                    </div>
                </div>
                <div class="col-3">
                    <a class="hide-replies-button" href="">Cacher les réponses</a>
                </div>
            </div>
        </div>
    </div>

    <div class="new-reply-form row justify-content-center mb-5">
        <div class="col-10">
            {{form_start(form)}}
                {{form_widget(form)}}
                <div class="row">
                    <div class="col-12 text-right">
                        <input type="submit" value="Envoyer" class="btn new-reply-submit-button">
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
    {% for reply in replies %}
        
        <div class="row justify-content-around align-items-center">
            <div class="col-8">
                <div class="row align-items-center">
                    <div class="img-cadre">
                        <img class="postedByImage" src="{{ asset('build/images/' ~ reply.postedBy.image) }}" alt="">
                    </div>
                    <div class="col">
                        <a class="postedByUsername" href="{{ path('single-user', {'id': reply.postedBy.id}) }}">{{ reply.postedBy.username }}</a>
                    </div>
                    <div class="col text-right">
                        <p class="ago">{{ reply.postedAt|ago }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 mb-2">
                <p class="reply-body">{{ reply.body }}</p>
            </div>
        </div>


    {% endfor %}
</div> 