
    <!-- La photo et le nom de l'auteur -->
    <div class="row align-items-start">
        <div class="img-cadre">
            {% if reply.postedBy.image %}
                <img class="postedByImage" src="{{ asset('upload/users/' ~ reply.postedBy.image) }}" alt="">
            {% else %}
                <img src="{{ asset('upload/default.png') }}" alt="" class="postedByImage">
            {% endif %}
        </div>
        <div class="col-10">
            <a class="postedByUsername" href="{{ path('single-user', {'id': reply.postedBy.id}) }}">{{ reply.postedBy.username }} | {{ reply.postedAt|ago }}</a>
        </div>
        <!-- Le temps passé depuis la publication -->
        
    </div>
    <div class="row">
        {% if reply.postedBy.id == app.user.id %}
            <div class="comment-icons col-12 text-right">
                <a class="update-link"
                    {% if reply.postComment is defined %}
                        href="{{ path('post-reply-update', {'id': reply.id}) }}"
                    {% elseif reply.eventComment is defined %}
                        href="{{ path('event-reply-update', {'id': reply.id}) }}"
                    {% endif %}>
                    <i class="fas fa-edit ml-2 ml-md-3"></i>
                </a>
                <a
                
                {% if reply.postComment is defined %}
                    href="{{ path('postcommentreply-delete', {'id': reply.id}) }}"
                {% else %}
                    href="{{ path('eventcommentreply-delete', {'id': reply.id}) }}"
                {% endif %}
                class="delete-reply"><i class="fas fa-trash-alt ml-2 ml-md-3"></i></a>
            </div>
        {% endif %}
    </div>
    <!-- Texte de la réponse -->
    <div class="row justify-content-center">
        <div class="col-10 mb-2">
            <p class="reply-body">{{ reply.body }}</p>
        </div>
    </div>