<!-- Template of one single post comment -->

<div class="row justify-content-center align-items-center p-2">
    <!-- Photo and name of the autho -->
    <div class="col-2 col-md-1">
        <div class="img-cadre">
            {% if comment.postedBy.image %}
                <img src="{{ asset('upload/users/' ~ comment.postedBy.image) }}" alt="Image de l'auteur" class="postedByImage">
            {% else %}
                <img class="postedByImage" src="{{ asset('upload/default.png') }}" alt="Image de l'auteur">
            {% endif %}
        </div>
    </div>
    <div class="col-6 col-md-8 name">
        <a class="name" href="{{ path('single-user', {'id': comment.postedBy.id}) }}">{{ comment.postedBy.firstName }} {{ comment.postedBy.lastName }}</a>
    </div>
    <div class="col-4 col-md-3 text-right p-2">
        <!-- the time passed since creation -->
        <span class="date">{{ comment.postedAt|ago }}</span>
        <div class="row justify-content-end comment-icons comment-icons no-gutters">
            <!-- Update link -->
            {% if comment.postedBy.id == app.user.id %}
                <div class="col-6">
                    <a class="update-link" href="{{ path('post-comment-update', {'id': comment.id}) }}">
                        <i class="fas fa-edit m-3"></i>
                    </a>
                </div>
            {% endif %}
            <!-- Delete link -->
            {% if comment.postedBy.id == app.user.id or is_granted('ROLE_SUPERADMIN') %}    
                <div class="col-6 col-md-4 text-right">
                    <a href="{{ path('postcomment-delete', {'id': comment.id}) }}" onclick="return confirm('Confirmer la suppression?')">
                        <form method="POST" style="display:inline-block" action="{{ path('postcomment-delete', {'id': comment.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('comment_delete' ~ comment.id) }}">
                            <button type="submit" class ="comment-delete-btn"><i class="fas fa-trash-alt m-3"></i></button> 
                        </form>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>   
</div>
<div class="row">
    <!-- Text of the comment -->
    <div class="col-11 m-3">
        <p class="commentBody">{{ comment.body }}</p>
    </div>
</div>
<div class="row justify-content-md-around justify-content-center align-items-center p-3">
    <!-- Number of likes and replies -->
    <div class="col-12 col-md-6 commentLike-count">
        <span class="like-count">{{ comment.postCommentLikes|length }}</span>
        J'aime | 
        <span class="commentReplyCount">{{ comment.postCommentReplies|length }}</span><span class="responses-label-js"> Réponse{% if comment.postCommentReplies|length != 1 %}s{% endif %}</span>
    </div>
    <div class="col-12 col-md-3 text-right mt-2">
        <!-- Like Button -->
        <a class="btn commentLike-button" href="{{ path('comment-like', {'id': comment.id}) }}">
            <span class="{% if comment.isLikedByUser(app.user) %}liked{% endif %}">
                {% if comment.isLikedByUser(app.user) %}
                    Je n'aime plus
                {% else %}
                    J'aime
                {% endif %}
            </span>  
        </a>
    </div>
    <!-- Button to show responses -->
    <div class="col-12 col-md-3 text-right mt-2">
        <a href="{{ path('comment-replies', {'id': comment.id}) }}" class="btn reply-button w-100">Réponses</a>
    </div>
</div>
<!-- Container wher the replies will be loaded by AJAX -->
<div class="comment-replies row"></div>