<div class="row justify-content-center align-items-center p-2">
    <!-- Le bloc qui affiche le nom et la photo de l'auteur -->
    <div class="col-2 col-md-1">
        <div class="img-cadre">
            {% if comment.postedBy.image %}
                <img src="{{ asset('upload/users/' ~ comment.postedBy.image) }}" alt="" class="postedByImage">
            {% else %}
                <img class="postedByImage" src="{{ asset('upload/default.png') }}" alt="Photo de profile">
            {% endif %}
        </div>
    </div>
    <div class="col-6 col-md-8 name">
        <a class="name" href="{{ path('single-user', {'id': comment.postedBy.id}) }}">{{ comment.postedBy.firstName }} {{ comment.postedBy.lastName }}</a>
    </div>
    <!-- Le bloc qui affiche le temps passé depuis la publication -->
    <div class="col-4 col-md-3 text-right p-2">
        <span class="date">{{ comment.postedAt|ago }}</span>
        
        <!-- Lien de modification et suppression si l'utilisateur connecté est l'auteur du commentaire -->
        {% if comment.postedBy.id == app.user.id %}
            <div class="row justify-content-end comment-icons comment-icons no-gutters">
                <div class="col-6">
                    <a class="update-link" href="{{ path('post-comment-update', {'id': comment.id}) }}">
                        <i class="fas fa-edit m-3"></i>
                    </a>
                </div>    
                <div class="col-6 col-md-4 text-right">
                    <a href="{{ path('postcomment-delete', {'id': comment.id}) }}" onclick="return confirm('Confirmer la suppression?')">
                        <i class="fas fa-trash-alt m-3">
                            <form method="POST" style="display:inline-block" action="{{ path('postcomment-delete', {'id': comment.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ comment.id) }}">
                                <input type="submit" value="" > 
                            </form>
                        </i>
                    </a>
                </div>
            </div>
        {% endif %}
    
    </div>   
</div>
<div class="row">
    <!-- Texte du commentaire -->
    <div class="col-11 m-3">
        <p class="commentBody">{{ comment.body }}</p>
    </div>
</div>
<div class="row justify-content-md-around justify-content-center align-items-center p-3">
    <!-- Nombre de j'aime et nombre de réponses -->
    <div class="col-12 col-md-6 commentLike-count">
        <span class="like-count">{{ comment.postCommentLikes|length }}</span>
        J'aimes | 
        <span class="commentReplyCount">{{ comment.postCommentReplies|length }}</span> Réponses
    </div>
    <div class="col-12 col-md-3 text-right mt-2">
        <!-- Bouton j'aime -->
        <a class="btn commentLike-button" href="{{ path('comment-like', {'id': comment.id}) }}">
            <span class="{% if comment.isLikedByUser(app.user) %}liked{% endif %}">
                {% if comment.isLikedByUser(app.user) %}
                    Je n'aime plus
                {% else %}
                    J'aime
                {% endif %}
            </span>  
        </a>
    </div>
    <!-- Lien qui affiche les réponses au commentaire et le formulaire pour envoyer une nouvelle réponse -->
    <div class="col-12 col-md-3 text-right mt-2">
        <a href="{{ path('comment-replies', {'id': comment.id}) }}" class="btn reply-button w-100">Réponses</a>
    </div>
</div>
<!-- Le conteneur ou les réponses apparaissent (AJAX) -->
<div class="comment-replies row"></div>