{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block pageTitle %}Modifier mon profile{% endblock %}

{% block body %}

{% include 'topLinks.html.twig' %}    

{% include 'flashMessages.html.twig' %}

<div class="row justify-content-center justify-content-lg-end mt-5 mb-5">
    <div class="profil-block col-10 col-lg-9 justify-content-center p-lg-3 pt-3">

        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-4 profile-picture">
                {% if app.user.image %}
                    <img id="output" src="{{ asset('upload/users/' ~ app.user.image ) }}" alt="">
                {% else %}
                    <img id="output" src="{{ asset('upload/default.png' ) }}" alt="">
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.imageFile)}}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                    
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-10">
                {{ form_row(form.presentation) }}
                {{ form_row(form.ville) }}
                <a href="{{ path('ville') }}" class="new-ville-link">Ajouter une ville</a>
                {{ form_row(form.climbingCategorie) }}
                {{ form_row(form.level) }} 
                <h5>Rôle: {{ app.user.getRole }}</h4> 
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-4 text-right">
                <input type="submit" class="btn submit-button w-100" value="Enregistrer">
                {{ form_end(form) }}  
            </div>
            <div class="col-12 col-md-10">
               <hr class="mt-5"> 
            </div>
        </div> 

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-3 text-center">
                <a href="{{ path('my-posts') }}" class="btn buttons my-posts-button w-100 w-lg-30">Mes publications</a>
            </div>
            <div class="col-12 col-md-10 col-lg-3 text-center">    
                <a href="{{ path('my-events') }}" class="btn buttons my-events-button w-100 w-lg-30">Mes évènements</a>
            </div>
        </div>

    </div>
    


</div>


{% endblock %}

{% block javascripts %}

    <script>
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var output = document.getElementById('output');
        output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        };
    </script>

{% endblock %}