
        <div class="row justify-content-between align-items-center p-2">
            <div class="col-6 chat-users from-user">
                <div class="row align-items-center">
                    <div class="img-cadre">
                        {% if message.fromUser.image %}
                            <img class="from-user-image img-fluid" src="{{ asset('upload/users/' ~ message.fromUser.image) }}" alt="Photo de profile">
                        {% else %}
                            <img class="from-user-image img-fluid" src="{{ asset('upload/default.png') }}" alt="Photo de profile">
                        {% endif %}
                    </div>
                    <a class="name" href="{{ path('single-user', {'id': message.fromUser.id }) }}">{{ message.fromUser.username }}</a>
                </div>
            </div>
            <div class="col-6 chat-users to-user">
                <div class="row align-items-center justify-content-end">
                    <a class="name" href="{{ path('single-user', {'id': message.toUser.id }) }}">à {{ message.toUser.username }}</a>
                    <div class="img-cadre">
                        {% if message.toUser.image %}
                            <img class="from-user-image img-fluid" src="{{ asset('upload/users/' ~ message.toUser.image) }}" alt="Photo de profile">
                        {% else %}
                            <img class="from-user-image img-fluid" src="{{ asset('upload/default.png') }}" alt="Photo de profile">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
        <div class="row justify-content-around">
            <div class="col-7">
                <p class="message-body">{{ message.body }}</p>
            </div>   
            <div class="col-5 text-right">
                <div class="message-date">{{ message.sendDate|ago }}</div>
            </div>
        </div>
        <a class="response-link" href="">Je réponds</a>
        {% if not message.seen and message.fromUser.id != app.user.id %}
            <a class="seen-link" href="">Marquer comme lu</a>
            <div class="nouveau-link">Nouveau</div>
        {% endif %}