<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/images/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/images/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/images/favicons/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="build/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block navbar %}
            <nav>
                <div class="logo">
                    <a href="{{ path('local-posts') }}"><img id="logo" src="{{ asset('build/images/icons/Logo.png') }}" alt=""></a> 
                </div>
                <div class="menu-block">
                    <i class="fas fa-bars burger"></i>
                    <ul class="menu-list d-lg-flex" id="menu-list">
                        <li class="menu-item"><a class="menu-link {% if localPostsPage is defined and localPostsPage %}current-link{% endif %}" href="{{path('local-posts') }}" title="Accueil">Accueil</a></li>
                        <li class="menu-item"><a class="menu-link {% if profilPage is defined and profilPage %}current-link{% endif %}" href="{{path('profil') }}" title="Mon Profil">Mon Profil</a></li>
                        <li class="menu-item"><a class="menu-link {% if savedClubsPage is defined and savedClubsPage %}current-link{% endif %}" href="{{path('saved-clubs') }}" title="Mes salles d'escalade">Mes salles préférées</a></li>
                        <li class="menu-item"><a class="menu-link {% if messagesPage is defined and messagesPage %}current-link{% endif %} {% if app.user.countNewMessages %}new-messages{% endif %}" href="{{ path('messages') }}" title="Messages">Messages {% if app.user.countNewMessages %}({{ app.user.countNewMessages }}){% endif %}</a></li>
                        <li class="menu-item"><a class="menu-link {% if savedEventsPage is defined and savedEventsPage %}current-link{% endif %}" href="{{ path('saved-events', {'id': app.user.id}) }}" title="Évènenements">Évènements enregistrés</a></li>
                        <li class="menu-item"><a class="menu-link" href="{{ path('logout') }}" title="Déconnexion">Déconnexion</li></a>
                    </ul>
                </div>
            </nav>
            {% endblock %}
            {% block header %}
                <div class="header row justify-content-center align-items-center">
                    
                    <div class="card d-none d-lg-block col-2 text-center">
                        <div class="row justify-content-center">
                            <div class="img-cadre m-3">
                                {% if app.user.image %}
                                    <img class="card-image" src="{{ asset('upload/users/' ~ app.user.image) }}" alt="Photo de profile">
                                {% else %}
                                    <img src="{{ asset('upload/default.png') }}" alt="Photo de profile" class="card-image">
                                {% endif %}    
                            </div>
                        </div>
                        <div class="card-title"><a href="{{path('profil') }}">{{ app.user.firstName }} {{ app.user.lastName }}</a></div>    
                        <div class="card-text">

                            {% if app.user.ville.nom is defined %}
                                <div>{{ app.user.ville.nom }}</div>
                            {% endif %}
                            
                            {% if app.user.level.label is defined %}
                                <div>Niveau: <span class="level">{{ app.user.level.label }}</span></div>
                            {% endif %}
                            {% if app.user.climbingClub|length > 0 %}
                                <div>Salles d'escalade:
                                    {% for salle in app.user.climbingClub %}
                                        <div><a class="club-link" href="{{ path('single-club', {'id': salle.id}) }}">{{ salle.nom }}</a></div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="row justify-content-center">
                                {% for type in app.user.climbingCategorie %}
                                    <div class="badge">{{ type.label }}</div>
                                {% endfor %}
                            </div> 
                        </div>

                        <div class="buttons">
                            <a href="{{ path('profil') }}" class="btn my-profil-button {% if profilPage is defined and profilPage %}current-link{% endif %}">Voir mon profil</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('my-events') }}" class="btn my-events-button {% if myEventsPage is defined and myEventsPage %}current-link{% endif %}">Mes évènements</a>   
                            {% endif %}
                                <a href="{{ path('my-posts') }}" class="btn my-posts-button {% if myPostsPage is defined and myPostsPage %}current-link{% endif %}">Mes publications</a>
                        </div>
                    </div>

                    <h1 id="main-title" class="col-8 text-center">{% block pageTitle %}{% endblock %}</h1>
                
                </div>
            {% endblock %}
        </header>
        <div class="container">
            {% block body %}
            {% endblock %}
            <div id="scrolltop-div"><img id="scrolltop-icon" src="{{ asset('build/images/icons/upload.png') }}" /></div>
        </div>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
