<!-- Links on top to events, posts, users, and climbing clubs -->
<div class="row justify-content-center justify-content-lg-end">
    <div class="button-block col-11 col-sm-10 col-lg-9 mt-3">
        <div class="row justify-content-center">
            <a class="col-10 col-lg-2 btn event-button {% if localEventsPage is defined and localEventsPage %}current-link{% endif %}" href="{{ path('local-events') }}">
                Évènements
                {% if app.user.ville %}
                    à {{app.user.ville.nom}}
                {% endif %}    
            </a>
            <a class="col-10 col-lg-2 btn grimpeur-button {% if localUsersPage is defined and localUsersPage %}current-link{% endif %}" href="{{ path('local-users') }}">
                Grimpeurs
                {% if app.user.ville %}
                    à {{app.user.ville.nom}}
                {% endif %}
            </a>
            <a class="col-10 col-lg-2 btn club-button {% if localClubsPage is defined and localClubsPage %}current-link{% endif %}" href="{{ path('local-clubs') }}">
                Salles d'escalade
                {% if app.user.ville %}
                    à {{app.user.ville.nom}}
                {% endif %}
            </a>
            <a class="col-10 col-lg-2 btn post-button {% if localPostsPage is defined and localPostsPage %}current-link{% endif %}" href="{{ path('local-posts') }}">
                Publications
                {% if app.user.ville %}
                    à {{app.user.ville.nom}}
                {% endif %}
            </a>
        </div> 
    </div> 
</div>
<!-- Link to profil page if the user's has no city defines on his/her profil -->
{% if not app.user.ville %}
    <div class="row justify-content-center justify-content-lg-end">
        <div class="button-block col-10 col-lg-9 mt-3 text-center">
            <a class="link-to-profil" href="{{ path('profil') }}">Renseignez votre ville en cliquant ici pour voir les actualités locales.</a>
        </div>
    </div>
{% endif %} 