{% extends 'base.html.twig' %}

{% block title %}Salles d'escalade{% endblock %}

{% block pageTitle %}
    
    {% if search %}
        Chercher de salles d'escalade
    {% elseif saved is defined and saved %}    
        Vos salles préférées
    {% else %}
        Salles d'escalade à {{ app.user.ville.nom }}
    {% endif %}
        
{% endblock %}

{% block body %}

    <!-- Liens qui amènent vers les pages de recherche -->
    <div class="row justify-content-center ml-lg-5">
        <div class="button-block col-8 mt-3 ml-lg-5 p-2 ">
            <div class="row justify-content-center">
                <a class="col-10 col-lg-3 btn event-button" href="{{ path('event-search') }}">Chercher des évènements</a>
                <a class="col-10 col-lg-3 btn post-button" href="{{ path('post-search') }}">Chercher des publications</a>
                <a class="col-10 col-lg-3 btn grimpeur-button" href="{{ path('user-search') }}">Chercher des grimpeurs</a>
            </div>
        </div>    
    </div>

    {% if search %}
    
    <!-- Formulaire pour chercher une salle d'escalade -->
    <div class="row justify-content-center ml-lg-5">
        <div class="search-form-block col-8 mt-3 ml-lg-5 p-2">
            <div class="row justify-content-center">
                <div class="col-10 p-2">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn submit-button">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>    
    </div>
    
    
    {% endif %}

    {% include 'flashMessages.html.twig' %}

    <!-- La liste des salles d'escalade -->
    {% for club in clubs %}
        <div class="row justify-content-center ml-lg-5">
            <div class="club-block row col-8 mt-3 ml-lg-5 p-3 ">

                <!-- La photo de la salle d'escalade si il y en a -->
                {% if club.image %}
                    <div class="col-lg-4">
                        <img class="club-image" src="{{ asset('upload/clubs/' ~  club.image) }}" alt="">
                    </div>
                {% endif %}
                <div class="col-lg-8">
                    
                    <!-- Nom -->
                    <h4><a href="{{ path('single-club', {'id': club.id}) }}">{{ club.nom }}</a></h4>
                    
                    <!-- Ville -->
                    <p>{{ club.ville.nom }}</p>
                    
                    <!-- Categories -->
                    <div class="categories">
                        {% for category in club.climbingCategories %}
                            <div class="badge ">{{ category.label }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row club-block row col-8 ml-lg-5 pl-3 pr-3 pb-3 pt-0 align-items-center">
                
                <!-- Le nombre des personnes qui aiment cette salle -->
                <div class="col-6">
                    <a class="users-link" href="{{ path('club-users', {'id': club.id}) }}">{{ club.users|length }} Personnes aiment cette salle</a>
                </div>

                <!-- Le lien vers la page de la salle d'escalade -->
                <div class="col-6 text-right">
                    <a class="btn info-button" href="{{ path('single-club', {'id': club.id}) }}">Plus d'info</a>
                </div>
            </div>
        </div>

        
    {% endfor %}

    


{% endblock %}