{% extends 'base.html.twig' %}

{% block title %}Salles d'escalade{% endblock %}

{% block pageTitle %}
    
    {% if saved is defined and saved %}    
        Vos salles préférées
    {% else %}
        Salles d'escalade à {{ app.user.ville.nom }}
    {% endif %}
        
{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    
    
    {% if form is defined %}
        
    <!-- Formulaire pour chercher une salle d'escalade -->
        {# <div class="row justify-content-center ml-lg-5">
            <div class="search-form-block col-8 mt-3 ml-lg-5 p-2">
                <div class="row justify-content-center">
                    <div class="col-10 p-2">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" class="btn submit-button">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>    
        </div> #}
    {% endif %}
    
    {% include 'flashMessages.html.twig' %}

    <!-- La liste des salles d'escalade -->
    {% for club in clubs %}
    <div class="row justify-content-center justify-content-lg-end">
        <div class="club-block col-10 col-lg-9 mt-3 pt-2">

            <div class="row">
                {% if club.image %}
                    <div class="col-lg-4">
                        <img class="club-image" src="{{ asset('upload/clubs/' ~  club.image) }}" alt="">
                    </div>
                {% endif %}
                <div class="col-lg-8">
                    
                    <!-- Nom -->
                    <h4><a href="{{ path('single-club', {'id': club.id}) }}">{{ club.nom }}</a></h4>
                    
                    <!-- Ville -->
                    <p>{{ club.ville.nom }}</p>
                    
                    <!-- Categories -->
                    <div class="categories">
                        {% for category in club.climbingCategories %}
                            <div class="badge ">{{ category.label }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
                <!-- La photo de la salle d'escalade si il y en a -->
                
            <div class="row align-items-center pb-2">
                
                <!-- Le nombre des personnes qui aiment cette salle -->
                <div class="col-6">
                    <a class="users-link" href="{{ path('club-users', {'id': club.id}) }}">{{ club.users|length }} Personnes aiment cette salle</a>
                </div>

                <!-- Le lien vers la page de la salle d'escalade -->
                <div class="col-6 text-right">
                    <a class="btn info-button" href="{{ path('single-club', {'id': club.id}) }}">Plus d'info</a>
                </div>
            </div>
        </div>

    </div>    
    {% endfor %}

    <div class="row justify-content-center justify-content-lg-end ml-lg-5">
        <div class="navigation">
            {{ knp_pagination_render(clubs) }}
        </div>
    </div>

    

{% endblock %}