{% extends 'base.html.twig' %}

{% block title %}Salles d'escalade{% endblock %}

{% block pageTitle %}Salles d'escalade à {{ app.user.ville.nom }}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="button-block col-8 mt-3 ml-lg-5 p-2 ">
            <div class="row justify-content-center">
                <a class="col-10 col-lg-3 btn event-button" href="{{ path('local-events') }}">Évènements à {{ app.user.ville.nom }}</a>
                <a class="col-10 col-lg-3 btn post-button" href="{{ path('local-posts') }}">Publications de {{ app.user.ville.nom }}</a>
                <a class="col-10 col-lg-3 btn grimpeur-button" href="{{ path('local-users') }}">Grimpeurs à {{ app.user.ville.nom }}</a>
            </div>
        </div>    
    </div>

{% endblock %}