{% extends 'base.html.twig' %}

{% block title %}Salles d'escalade{% endblock %}

{% block pageTitle %}
    Créer une nouvelle salle
{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}
    
    <div class="row justify-content-center justify-content-lg-end">
        <div class="new-club-form col-10 col-lg-9 mt-3">
            <div class="row justify-content-center pt-5 pb-3">
                {{ form_start(form) }}
                    {{form_row(form.nom)}}
                    <div class="row justify-content-center mb-2">
                        <img src="{% if club is defined %}{{ asset('upload/clubs/' ~  club.image) }}{% endif %}" id="output" class="w-50">
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn new-club-submit mt-3 mb-3 w-100">Enregistrer</button>
                {{ form_end(form) }}  
            </div>
        </div>
    </div>
    


{% endblock %}

{% block javascripts %}

    <script>
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var output = document.getElementById('output');
        output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        };
    </script>

{% endblock %}