{% extends 'base.html.twig' %}

{% block title %}{{ club.nom }}{% endblock %}

{% block pageTitle %}{{ club.nom }}{% endblock %}

{% block body %}

{% include 'topLinks.html.twig' %}    

<div class="row justify-content-center justify-content-lg-end">
    <div class="club-block col-11 col-sm-10 col-lg-9 mt-3 p-1 pt-3 pt-md-5">
        <!-- Photo of the club if it has one -->
        <div class="row justify-content-center">
            {% if club.image %}
                <div class="col-11 col-md-10">
                    <img class="club-image" src="{{ asset('upload/clubs/' ~ club.image) }}" alt="Image de la salle d'escalade">
                </div>
            {% endif %}
        </div>

        <!-- Name -->
        <div class="row justify-content-center p-2">
            <h4 class="club-name col text-center">{{ club.nom }}</h4>
        </div>

        <!-- City -->
        <div class="row justify-content-center p-2">
            <h4 class="ville col text-center">{{ club.ville.nom }}</h4>
        </div>

        <!-- Addresse -->
        <div class="row justify-content-center p-2">
            <h5 class="address col text-center">{{ club.addresse }}</h5>
        </div>  

        <!-- Phone Nulber -->
        <div class="row justify-content-center p-2">   
            <h5 class="phone col text-center">{{ club.telephone }}</h5>
        </div>

        <!-- Email -->
        <div class="row justify-content-center p-2">   
            <h5 class="mail col text-center">{{ club.email }}</h5>
        </div>

        <!-- Climbing categories -->
        <div class="row justify-content-center p-2">
            <div class="categorie-label col-12 text-center">Types d'escalade dans cette salle:</div> 
            {% for category in club.climbingCategories %}   
                <div class="badge m-2">{{ category.label }}</div>
            {% endfor %}
        </div>

        <!-- Links to save the club to the list of the favorites or remove it from the list -->
        <div class="row justify-content-center m-2">
            {% if club in app.user.climbingClub %} 
                <a class="btn save-button" href="{{ path('club-remove', {'id': club.id}) }}">SUPPRIMER DE MA LISTE</a>
            {% else %}
                <a class="btn save-button" href="{{ path('club-save', {'id': club.id}) }}">ENREGISTRER</a>
            {% endif %}
        </div>

        <!-- The number of interested users -->
        <div class="row justify-content-center users-block mb-5 mt-3">
            <div class="col-12 text-center">
                <a href="{{ path('club-users', {'id': club.id}) }}">{{ clubUsers(club.users|length) }}</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}