{% extends 'base.html.twig' %}

{% block title %}{{ club.nom }}{% endblock %}

{% block pageTitle %}{{ club.nom }}{% endblock %}

{% block body %}

<div class="row justify-content-center ml-lg-5 mb-5">
    <div class="club-block col-10 col-md-8 mt-3 ml-lg-5 p-2 ">
        <div class="row justify-content-center">
            {% if club.image %}
                <div class="col-10">
                    <img class="club-image" src="{{ asset('build/images/' ~ club.image) }}" alt="">
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center p-2">
            <h4 class="col text-center">{{ club.ville.nom }}</h4>
        </div>
        <div class="row justify-content-center p-2">
            <h5 class="col text-center">{{ club.addresse }}</h5>
        </div>  
        <div class="row justify-content-center p-2">   
            <h5 class="col text-center">{{ club.telephone }}</h5>
        </div>
        <div class="row justify-content-center p-2">   
            <h5 class="col text-center">{{ club.email }}</h5>
        </div>
        <div class="row justify-content-center p-2">
            <div class="col-12 text-center">Types d'escalade dans cette salle:</div> 
            {% for category in club.climbingCategories %}   
                <div class="badge m-2">{{ category.label }}</div>
            {% endfor %}
        </div>
        <div class="row justify-content-center m-2">
            <a class="btn save-button" href="">Enregistrer cette salle</a>
        </div>
        <div class="row justify-content-center users-block">
            <div class="col-12 text-center">
                <a href="">{{ club.users|length }} personnes aiment cette salle</a>
            </div>
        </div>
        <div class="row justify-content-center friends-block p-2">
            <div class="col-12 text-center">
                Amis qui aiment cette salle
            </div>
            <div class="row">
                <div class="col-12 text-white text-center p-3">
                    Bloc Amis
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}