{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

    <!-- The title changes depending on what page the user is on -->
    {% if ville.nom is defined %}
        Les publications de {{ ville.nom }}
    {% elseif user is defined %}    
        Les publications de {{ user.firstName }}
    {% else %}
        Publications
    {% endif %}

{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    
    
    {% include 'flashMessages.html.twig' %}

    {% if user is not defined %}
        
        <!-- Form to create a new post -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-11 col-sm-10 col-lg-9 mt-3 p-2 ">
                <div class="row justify-content-center align-items-center p-2">
                    <div class="col">
                        {{ form_start(form) }}
                            {{form_row(form.body)}}
                    </div>
                    <div class="col-md-5 col-lg-4 text-right">
                            <img id="output">
                            {{ form_row(form.imageFile) }}
                            <input type="submit" class="btn submit-button" value="Envoyer">
                        {{ form_end(form) }}      
                    </div>
                </div>
            </div>
        </div>
             
     {% endif %}

    {% if lastPage is defined %}
        <!-- Hidden input containing the last page of the pagination -->
        <input class="posts-count" type="hidden" value="{{ lastPage }}">
    {% endif %}
    {% if posts|length > 0 %}
        <!-- List of posts -->
        {% include 'post/post.html.twig' %}
    {% else %}
        <!-- Text shown if there is no post in the list  -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">Il n'y a pas de publication à afficher</p>
            </div>
        </div>
    {% endif %}
        
{% endblock %}

{% block javascripts %}

    <!-- JS filereader to show the selected uploadable picture before submit  -->
    <script>
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var output = document.getElementById('output');
        output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        };
    </script>

{% endblock %}