{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

    <!-- On vérifie si on afficher les publications d'une certaine ville ou d'un certain utilisateur -->
    {% if ville.nom is defined %}
        Les publications de {{ ville.nom }}
    {% elseif user is defined %}    
        Les publications de {{ user.firstName }}
    {% else %}
        Publications
    {% endif %}

{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    
    
    {% include 'flashMessages.html.twig' %}

    {% if user is not defined %}
        
        <!-- Formulaire pour créer une nouvelle publication -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <div class="row justify-content-center align-items-center p-2">
                    <div class="col">
                        {{ form_start(form) }}
                            {{form_row(form.body)}}
                    </div>
                    <div class="col-md-5 col-lg-4 text-right">
                        <img id="output">
                        {{ form_row(form.imageFile) }}
                        <input type="submit" class="btn submit-button" value="Envoyer">
                        {{ form_end(form) }}      
                    </div>
                </div>
            </div>
        </div>
             
     {% endif %}

     <!-- La dernière page de la pagination pour savoir où le scroll infini s'arrête -->
     <input class="posts-count" type="hidden" value="{{ lastPage }}">

     {% if posts|length > 0 %}

        <!-- Liste des publications -->
        {% include 'post/post.html.twig' %}

    {% else %}
        <!-- Le bloc qui s'affiche quand on veut voir les publications d'un utilisateur et il n'en a aucune -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">L'utilisateur n'a aucune publication</p>
            </div>
        </div>
    
    {% endif %}
        
{% endblock %}

{% block javascripts %}

    <script>
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var output = document.getElementById('output');
        output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        };
    </script>

{% endblock %}