{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

    <!-- On vérifie si on afficher les publications d'une certaine ville ou d'un certain utilisateur -->
    {% if ville.nom is defined %}
        Les publications de {{ ville.nom }}
    {% elseif user is defined %}    
        Les publications de {{ user.firstName }}
    {% else %}
        Publications
    {% endif %}

{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    
    
    {% include 'flashMessages.html.twig' %}

    {% if user is not defined %}
        
        <!-- Formulaire pour créer une nouvelle publication -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <div class="row justify-content-center align-items-center p-2">
                    <div class="col">
                        {{ form_start(form) }}
                            {{form_row(form.body)}}
                    </div>
                    <div class="col-md-5 col-lg-4 text-right">
                        <img id="output">
                        {{ form_row(form.imageFile) }}
                        <input type="submit" class="btn submit-button" value="Envoyer">
                        {{ form_end(form) }}      
                    </div>
                </div>
            </div>
        </div>
             
     {% endif %}

     {% if posts|length > 0 %}

        <!-- Liste des publications -->
        {% for post in posts %}
            <div class="row justify-content-center justify-content-lg-end mb-3">
                <div class="post-block col-10 col-lg-9 mt-3 p-5 ">
                    <div class="row postedByAt-block align-items-center">
                        <div class="col-8 col-lg-6">

                            <!-- Le bloc qui affiche le nom et la photo de l'auteur -->
                            <div class="row align-items-center">
                                <div class="img-cadre">
                                    {% if post.postedBy.image %}
                                        <img class="postedByProfil img-fluid" src="{{ asset('upload/users/' ~ post.postedBy.image) }}" alt="Photo de profile">
                                    {% else %}
                                        <img class="postedByProfil img-fluid" src="{{ asset('upload/default.png') }}" alt="Photo de profile">
                                    {% endif %}
                                </div>
                                <div class="col-7 col-md-8 col-lg-9">
                                    <a class="postedByName" href="{{ path('single-user',{'id' : post.postedBy.id}) }}">{{ post.postedBy.firstName }} {{ post.postedBy.lastName }}</a>
                                </div>
                            </div>

                        </div>
                        <!-- Le bloc qui affiche le temps passé depuis la publication -->
                        <div class="col-4 col-lg-6 text-right">
                            <div class="row justify-content-end align-items-center">
                                {{ post.createdAt|ago }}
                                {% if is_granted('ROLE_SUPERADMIN') %}
                                    <form method="POST" class="delete-form" style="display:inline-block" action="{{ path('post-delete', {'id': post.id}) }}">
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ post.id) }}">
                                        <button class="delete-post" type="submit"><i class="fas fa-trash-alt m-3"></i></button>
                                    </form>
                                {% endif %}
                            </div>    
                        </div>
                    </div>

                    <div class="row content-block">
                        <!-- On vérifie si la publication a une photo ou pas et on affiche l'image si oui -->
                        {% if post.image %}
                            <div class="col-12 col-lg-6">
                                <img class="postImage" src="{{ asset('upload/posts/' ~ post.image) }}" alt="">
                            </div>
                        {% endif %}
                        <div class="col-12 {% if post.image %}col-lg-6{% endif %} ">
                            <!-- Texte de la publication -->
                            <div class="row">
                                <p class="postBody">{{ post.body }}</p>
                            </div>
                            <div class="row justify-content-end align-items-end">
                                <!-- Bouton j'aime -->
                                <div class="col-12 {% if post.image %}col-md-6{% else %}col-md-6 col-lg-3 {% endif %}  m-2 mt-lg-5">
                                    <a id="{{ post.id }}" class="btn like-button" href="{{ path('post-like', {'id': post.id}) }}">
                                        <span class="js-postLikes-label{{post.id}} {% if post.isLikedByUser(app.user) %}liked{% endif %}">
                                            {% if post.isLikedByUser(app.user) %}
                                                Je n'aime plus
                                            {% else %}
                                                J'aime
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                                <!-- Bouton commentaire -->
                                <div class="col-12 {% if post.image %}col-md-6{% else %}col-md-6 col-lg-3 {% endif %} m-2">
                                    <a class="btn comment-button w-100" href="{{ path('single-post', {'id': post.id}) }}">Commentaires</a>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <!-- Nombre de j'aime et nombre de commentaire -->
                    <div class="commentsLikes-block row">
                        <div class="col-12 col-md-3 col-lg-2 m-1">
                            <a class="likes-link" href="{{ path('post-likes', {'id': post.id}) }}">
                                <span id="count{{post.id}}" class="js-postLikes">{{ post.postLikes|length }}</span>
                                J'aime
                            </a>
                            </div>
                        <div class="col-12 col-lg-3 m-1">
                            <span class="js-postComments">{{ post.postComments|length }} Commentaires</span>
                        </div>
                    </div>
                </div>
            </div>       
        {% endfor %}
    {% else %}
        <!-- Le bloc qui s'affiche quand on veut voir les publications d'un utilisateur et il n'en a aucune -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">L'utilisateur n'a aucune publication</p>
            </div>
        </div>
    
    {% endif %}
        
{% endblock %}

{% block javascripts %}

    <script>
        var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var output = document.getElementById('output');
        output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        };
    </script>

{% endblock %}