{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

    {% if ville is defined %}
    
    Les publications de {{ ville.nom }}

    {% elseif user is defined %}    
    
    Les publications de {{ user.firstName }}
    
    {% endif %}

{% endblock %}

{% block body %}

    <div class="row justify-content-center justify-content-lg-end">
        <div class="button-block col-10 col-lg-9 mt-3 p-2 ">
            <div class="row justify-content-center">
                <a class="col-10 col-lg-3 btn event-button" href="{{ path('event-search') }}">Chercher des évènements</a>
                <a class="col-10 col-lg-3 btn grimpeur-button" href="{{ path('user-search') }}">Chercher des grimpeurs</a>
                <a class="col-10 col-lg-3 btn club-button" href="{{ path('club-search') }}">Chercher des salles d'escalade</a>
            </div>
        </div>    
    </div>

    {% if search %}

        <div class="row justify-content-center justify-content-lg-end">
            <div class="search-form-block col-10 col-lg-9 mt-3 p-2 ">
                {{ form_start(form) }}
                <div class="row justify-content-around align-items-center">
                    <div class="col-10 col-md-4 m-2 text-center">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-10 col-md-4 m-2 text-center">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-10 col-md-4 m-2 text-center">
                        {{ form_row(form.keyword) }}
                    </div>
                    <div class="col-10 col-md-4 text-right">
                        <input type="submit" class="submit-button m-2" value="Rechercher">
                    </div>
                </div>
                {{ form_end(form) }}               
            </div>
        </div>

    
    {% endif %}

    {% if user is not defined %}

        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="text-center">Bloc du nouveau formulaire</p>
            </div>
        </div>
               
     {% endif %}

     {% if posts|length > 0 %}

        {% for post in posts %}
            <div class="row justify-content-center justify-content-lg-end mb-3">
                <div class="post-block col-10 col-lg-9 mt-3 p-5 ">
                    <div class="row postedByAt-block align-items-center">
                        <div class="col-8 col-lg-6">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-4 col-lg-3">
                                    <img class="postedByProfil img-fluid" src="{{ asset('build/images/' ~ post.postedBy.image) }}" alt="Photo de profile">
                                </div>
                                <div class="col-7 col-md-8 col-lg-9">
                                    <a class="postedByName" href="{{ path('single-user',{'id' : post.postedBy.id}) }}">{{ post.postedBy.firstName }} {{ post.postedBy.lastName }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-lg-6 text-right">
                            {{ post.createdAt|ago }}
                        </div>
                    </div>
                    <div class="row content-block">
                        {% if post.image %}
                            <div class="col-12 col-lg-6">
                                <img class="postImage" src="{{ asset('build/images/posts/' ~ post.image) }}" alt="">
                            </div>
                        {% endif %}
                        <div class="col-12 {% if post.image %}col-lg-6{% endif %} ">
                            <div class="row">
                                <p class="postBody">{{ post.body }}</p>
                            </div>
                            <div class="row justify-content-end align-items-end">
                                <div class="col-12 {% if post.image %}col-md-6{% else %}col-md-6 col-lg-3 {% endif %}  m-2 mt-lg-5">
                                    <a class="btn like-button" href="">J'AIME</a>
                                </div>
                                <div class="col-12 {% if post.image %}col-md-6{% else %}col-md-6 col-lg-3 {% endif %} m-2">
                                    <a class="btn comment-button" href="">COMMENTER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentsLikes-block row">
                        <div class="col-4 col-md-3 col-lg-2 m-1"><a class="likes-link" href="{{ path('post-likes', {'id': post.id}) }}">{{ post.postLikes|length }} J'aimes</a></div>
                        <div class="col-6 col-lg-3 m-1"><a class="comments-link" href="">{{ post.postComments|length }} Commentaires</a></div>
                    </div>
                    <div class="comments-section"></div>
                </div>
            </div>       
        {% endfor %}
    {% else %}
        
        <div class="row justify-content-center justify-content-lg-end">
            <div class="post-form-block col-10 col-lg-9 mt-3 p-2 ">
                <p class="p-2">L'utilisateur n'a aucune publication</p>
            </div>
        </div>
    
    {% endif %}
        
   



{% endblock %}
