{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block pageTitle %}

{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    

    {% include 'flashMessages.html.twig' %}

    <div class="row justify-content-center justify-content-lg-end mb-3">
        <div class="post-block col-11 col-sm-10 col-lg-9 mt-3 p-2 p-sm-4 p-md-5">
            <div class="row postedByAt-block align-items-center">
                <div class="col-7 col-sm-8 col-lg-6">
                    <!-- Name and photo of the author -->
                    <div class="row align-items-center no-gutters">
                        <div class="img-cadre">
                            {% if post.postedBy.image %}
                                <img class="postedByProfil img-fluid" src="{{ asset('upload/users/' ~ post.postedBy.image) }}" alt="Photo de profile">
                            {% else %}
                                <img class="postedByProfil img-fluid" src="{{ asset('upload/default.png') }}" alt="Photo de profile">
                            {% endif %}
                        </div>
                        <div class="col-7 col-md-8 col-lg-9 pl-2">
                            <a class="postedByName" href="{{ path('single-user',{'id' : post.postedBy.id}) }}">{{ post.postedBy.firstName }} {{ post.postedBy.lastName }}</a>
                        </div>
                    </div>
                </div>
                <!-- Time passed since creation -->
                <div class="col-4 col-lg-6 text-right">
                    {{ post.createdAt|ago }}
                </div>
            </div>
            <div class="row content-block">
                <!-- Photo of the post if it has one -->
                {% if post.image %}
                    <div class="col-12 col-lg-6">
                        <img class="postImage" src="{{ asset('upload/posts/' ~ post.image) }}" alt="">
                    </div>
                {% endif %}
                <div class="col-12 {% if post.image %}col-lg-6{% endif %} ">
                    <!-- Text of the post -->
                    <div class="row">
                        <p class="postBody">{{ post.body }}</p>
                    </div>
                    <div class="row justify-content-end align-items-end no-gutters">
                        <!-- Like button -->
                        <div class="col-12 {% if post.image %}col-md-6{% else %}col-md-6 col-lg-3 {% endif %} mt-lg-5">
                            <a id="{{ post.id }}" class="btn like-button" href="{{ path('post-like', {'id': post.id}) }}">
                                <span class="js-postLikes-label{{post.id}} {% if post.isLikedByUser(app.user) %}liked{% endif %}">
                                    {% if post.isLikedByUser(app.user) %}
                                        Je n'aime plus
                                    {% else %}
                                        J'aime
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>  
            </div>
            <!-- Number of likes -->
            <div class="commentsLikes-block row mb-5">
                <div class="col-5 col-md-3 col-lg-2 m-1">
                    <a class="likes-link" href="{{ path('post-likes', {'id': post.id}) }}">
                        <span id="count{{post.id}}" class="js-postLikes">{{ post.postLikes|length }}</span>
                        J'aime
                    </a>
                </div>
            </div>
            <!-- Comments -->
            {% include 'commentSection.html.twig' %}
        </div>
    </div> 

{% endblock %}