{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block image %}{% endblock %}

{% block pageTitle %}
    {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block body %}

{% include 'topLinks.html.twig' %}
 
<div class="row justify-content-center justify-content-lg-end mt-5 mb-5 ">
    <div class="user-block col-11 col-sm-10 col-lg-9 justify-content-center pt-3 pb-5">

        <div class="row justify-content-center align-items-center">
            <!-- Photo de profil -->
            <div class="img-cadre mt-lg-0 mt-5">
                {% if user.image %}
                    <img src="{{ asset('upload/users/' ~ user.image) }}" alt="Photo de profile" class="user-image">
                {% else %}
                    <img src="{{ asset('upload/default.png') }}" alt="Photo de profile" class="user-image">
                {% endif %}
            </div>
            <!-- Présentation -->
            <div class="col-12 col-sm-10 col-lg-6 presentation user-data m-2 m-sm-5">
                <h4>{{ user.username }}</h4>
                <p>{{ user.presentation }}</p>
            </div>
        </div> 
        
        <div class="row justify-content-center user-data m-2">
            <!-- Ville -->
            <div class="col-12 col-md-6 text-center ville">
                {% if user.ville %}
                    <h4>Ville</h4>
                    <h5>{{ user.ville.nom }}</h5>
                {% endif %}
            </div>
            <!-- Niveau -->
            {% if user.level %}
            <div class="col-12 col-md-6 text-center">
                <h4 class="niveau pt-3 pt-md-0">Niveau</h4>
                <h5>{{ user.level.label }}</h5>
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-center user-data m-2">
            <!-- Type d'escalade -->
            {% if user.climbingCategorie|length > 0 %}
                <div class="col-12 col-md-6 text-center climbing-categorie">
                    <h4 class="pt-3 pt-md-0">Types d'escalade</h4>
                    {% for category in user.climbingCategorie %}
                        <h5>{{ category.label }}</h5> 
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.climbingClub|length > 0 %}
                <!-- Salles d'escalade -->
                <div class="col-12 col-md-6 text-center">
                    <h4 class="salles pt-3 pt-md-0">Salles d'escalade préférées</h4>
                    {% for club in user.climbingClub %}
                        <h5>{{ club.nom }}</h5>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="row justify-content-around user-data m-3 mb-5">
            {% if user.id != app.user.id %}
                <div class="col-12 col-md-10 col-lg-3 text-center m-2">
                    <a href="{{ path('conversation', {'id' : user.id }) }}" class="btn contact-button">
                        Envoyer un message
                    </a>
                </div>
            {% endif %}
            <div class="col-12 col-md-10 col-lg-3 text-center m-2">
                <a href="{{ path('saved-events', {'id': user.id} ) }}" class="btn user-events-button">
                    Evènements qui l'intéressent
                </a>
            </div>
            <div class="col-12 col-md-10 col-lg-3 text-center m-2">
                <a href="{{ path('user-posts', {'id': user.id}) }}" class="btn user-posts-button">
                   Voir ses publications
                </a>
            </div>
        </div>

        {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
            <hr class="separator">
            <div class="row justify-content-center">
                <h5> Rôle: {{ user.getRole }}
                </h5>
            </div>
            <hr class="separator">
        {% endif %}
        {% if is_granted('ROLE_SUPERADMIN') %}
            <div class="row role-form justify-content-center align-items-center">
                <div class="col-12 col-sm-10 role-form">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-6 col-lg-3">
                                <input type="submit" class="btn role-submit w-100">
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}