{% extends 'base.html.twig' %}

{% block title %}Grimpeurs{% endblock %}

{% block pageTitle %}

    {% if ville is defined %}
        Grimpeurs à {{ ville.nom }}
    {% elseif likes is defined and likes %}
        Ceux qui aiment cette publication
    {% elseif event is defined and event %}
        Utilisateurs intéressés
    {% endif %}


{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    

    {% if form is defined %}

        <!-- Formulaire pour chercher des utilisateurs -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="search-form-block col-10 mt-3 col-lg-9">
                <div class="user-search-form row justify-content-center p-2">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn submit-button" value="Rechercher">
                    {{ form_end(form) }}    
                </div>
            </div>
        </div>    

    {% endif %}
        
        <div class="row justify-content-center justify-content-lg-end">
            <div class="col-10 mt-3 col-lg-9 p-0">
                <div class="card-container">
                    <!-- La liste des utilisateur -->
                    {% for user in users %}
                            <div class="cardd">
                                <!-- Photo de profil -->
                                <div class="img-cadre m-5">
                                    {% if user.image %}
                                        <img class="card-image" src="{{ asset('upload/users/' ~ user.image) }}" alt="">
                                    {% else %}
                                        <img class="card-image" src="{{ asset('upload/default.png') }}" alt="">
                                    {% endif %}
                                </div>
                                <!-- Nom -->
                                <div class="card-title"><a href="{{ path('single-user',{'id' : user.id}) }}">{{ user.firstName }} {{ user.lastName }}</a></div>
                                <!-- Ville -->
                                <div class="card-text">
                                    <div>{{ user.ville.nom }}</div>
                                </div>
                                <!-- Présentation -->
                                <div class="presentation m-2">
                                    <p>{{ user.presentation }}</p>
                                </div>
                                <!-- Liens -->
                                <div class="buttons">
                                    <a class="m-2 btn profil-button" href="{{ path('single-user',{'id' : user.id}) }}">Voir profile</a>
                                    <a class="m-2 btn message-button" href="{{ path('conversation', {'id': user.id }) }}">Envoyer un message</a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>    
        </div>

{% endblock %}
