{% extends 'base.html.twig' %}

{% block title %}Grimpeurs{% endblock %}

{% block pageTitle %}

    {% if ville is defined and ville %}
        Grimpeurs à {{ ville.nom }}
    {% elseif likes is defined and likes %}
        Ceux qui aiment cette publication
    {% elseif event is defined and event %}
        Utilisateurs intéressés
    {% else %}
        Grimpeurs
    {% endif %}


{% endblock %}

{% block body %}

    {% include 'topLinks.html.twig' %}    

    {% if form is defined %}

        <!-- Formulaire pour chercher des utilisateurs -->
        <div class="row justify-content-center justify-content-lg-end">
            <div class="search-form-block col-10 mt-3 col-lg-9">
                <div class="user-search-form row justify-content-center p-2">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn submit-button" value="Rechercher">
                    {{ form_end(form) }}    
                </div>
            </div>
        </div>    

    {% endif %}

    <!-- La dernière page de la pagination pour savoir où le scroll infini s'arrête -->
    <input class="users-count" type="hidden" value="{{ lastUsersPage }}">
        
        <div class="row justify-content-center justify-content-lg-end">
            <div class="col-10 mt-3 col-lg-9 p-0">
                <div class="card-container">
                    <!-- La liste des utilisateur -->
                   {% include 'user/user.html.twig' %}

                </div>
            </div>    
        </div>

{% endblock %}
