<!-- Template of one single user on user's page -->

{% for user in users %}
    <div class="cardd">
        <!-- Phrofil picture -->
        <div class="img-cadre m-5">
            {% if user.image %}
                <img class="card-image" src="{{ asset('upload/users/' ~ user.image) }}" alt="Photo de profil">
            {% else %}
                <img class="card-image" src="{{ asset('upload/default.png') }}" alt="Photo qui s'affiche quand l'utilisatuer n'a pas de photo de profil">
            {% endif %}
        </div>
        <!-- Name -->
        <div class="card-title"><a href="{{ path('single-user',{'id' : user.id}) }}">{{ user.firstName }} {{ user.lastName }}</a></div>
        <!-- City -->
        {% if user.ville %}
            <div class="card-text">
                <div>{{ user.ville.nom }}</div>
            </div>
        {% endif %}
        <!-- Introduction -->
        <div class="presentation m-2">
            <p>{{ user.presentation }}</p>
        </div>
        <div class="buttons">
            <!-- Link to user's profil -->
            <a class="m-2 btn profil-button" href="{{ path('single-user',{'id' : user.id}) }}">Voir profile</a>
            <!-- Link to send a message to the user -->
            {% if user.id != app.user.id %}
                <a class="m-2 btn message-button" href="{{ path('conversation', {'id': user.id }) }}">Envoyer un message</a>
            {% endif %}
        </div>
    </div>
{% endfor %}